<a href="https://colab.research.google.com/github/martaarozarena/KSchool-Master-Final-Project/blob/master/exog_varaibles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
sheets=["c1_schoolclosing","c2_workplaceclosing","c3_cancelpublicevents","c4_restrictionsongatherings","c5_closepublictransport","c6_stayathomerequirements","c7_domestictravel","c8_internationaltravel","h1_publicinfocampaign","h2_testingpolicy","h3_contacttracing"]
initialdate="01-01-2020"
#enddate="30-06-2020"

In [3]:
var = pd.read_excel("https://github.com/OxCGRT/covid-policy-tracker/raw/master/data/timeseries/OxCGRT_timeseries_all.xlsx",sheet_name=sheets)

In [4]:
countries=['Denmark','Germany','Spain', 'Finland', 'Italy', 'Sweden', 'France', 'Norway', 'UK']
for i in var.keys():
  var[i]=var[i].drop("CountryCode",axis=1)
  var[i].index=var[i].CountryName
  var[i]=var[i].drop("CountryName",axis=1)
  var[i]=var[i][:-3]
  var[i]=var[i].T
  var[i]=var[i].loc[:,var[i].columns.str.contains('Denmark|Germany|Spain|Finland|Italy|Sweden|France|Norway|United Kingdom' \
                                                  '|United States|Canada|Mexico' \
                                                  '|Australia|Indonesia|Malaysia|Philippines|Thailand|Hong Kong|Vietnam|China|India|Japan|Singapore|Taiwan' \
                                                  '|Saudi Arabia|United Arab Emirates', regex=True)]
  var[i].index=pd.to_datetime(var[i].index,format="%d%b%Y")
#  var[i]=var[i].truncate(initialdate,enddate)

In [5]:
b=1
for i in sheets:
  if b==1: 
    var[i].columns="{}_".format(i[3:])+var[i].columns
    exogenas=var[i]
  else:
    concat=var[i]
    concat.columns="{}_".format(i[3:])+var[i].columns
    exogenas=pd.concat([exogenas,concat],axis=1)
  b=b+1

In [6]:
exogenas.shape

(229, 286)

In [ ]:
#download the mask wearing data

In [14]:
url2 = "https://drive.google.com/file/d/15S6nC4NKDnTj-P6jCcf1LAoH7bgoIzEv/view?usp=sharing"
path2 = 'https://drive.google.com/uc?export=download&id='+url2.split('/')[-2]
var_percent_mask = pd.read_csv(path2,sep=";")

In [17]:
var_percent_mask

                     Australia  Canada  China  ...    UK   USA  Vietnam
DateTime                                       ...
2020-02-21 23:51:40        NaN     NaN    NaN  ...   NaN   NaN      NaN
2020-02-24 23:51:40        NaN     NaN   85.0  ...   NaN   NaN      NaN
2020-02-25 23:51:40        NaN     NaN    NaN  ...   NaN   NaN      NaN
2020-02-28 23:51:40        NaN     NaN    NaN  ...   NaN   NaN      NaN
2020-03-01 23:51:40        NaN     NaN    NaN  ...   1.0   NaN      NaN
...                        ...     ...    ...  ...   ...   ...      ...
2020-08-06 23:51:40        NaN     NaN    NaN  ...   NaN   NaN      NaN
2020-08-07 23:51:40        NaN     NaN    NaN  ...  65.0   NaN      NaN
2020-08-10 23:51:40        NaN     NaN    NaN  ...   NaN  81.0      NaN
2020-08-11 23:51:40        NaN     NaN    NaN  ...   NaN   NaN      NaN
2020-08-12 23:51:40        NaN     NaN    NaN  ...  75.0   NaN      NaN

[118 rows x 26 columns]

In [15]:
var_percent_mask.DateTime=pd.to_datetime(var_percent_mask.DateTime)
var_percent_mask.index=var_percent_mask.DateTime
var_percent_mask.drop("DateTime",axis=1,inplace=True)

In [16]:
var_percent_mask=var_percent_mask.loc[:,var_percent_mask.columns.str.contains('Denmark|Germany|Spain|Finland|Italy|Sweden|France|Norway|UK' \
                                                  '|USA|Canada|Mexico' \
                                                  '|Australia|Indonesia|Malaysia|Philippines|Thailand|Hong Kong|Vietnam|China|India|Japan|Singapore|Taiwan' \
                                                  '|Saudi Arabia|UAE', regex=True)]

In [18]:
#add the missing dates
var_percent_mask=var_percent_mask.resample("D").mean()

In [19]:
#fill the missing dates with an interpolation
var_percent_mask.interpolate(method='linear',inplace=True)
var_percent_mask.fillna(method="bfill",inplace=True)

In [21]:
#rename the variable to be added in the general dataframe and choose the dates
var_percent_mask.columns="mask_"+var_percent_mask.columns
#var_percent_mask=var_percent_mask.truncate(initialdate,enddate)

In [22]:
#added to the generales dataframe and the missing initial values add 0s cause people was not wearing masks at the beggining
exogenas=pd.concat([exogenas,var_percent_mask],axis=1)
exogenas.fillna(0,inplace=True)

In [37]:
exogenas.shape

(229, 312)

In [ ]:
#flights per day
#url3 = "https://drive.google.com/file/d/1jLzSGGbQY8OyD1YTNZAJFRmvxy7lA2V_/view?usp=sharing"
#path3 = 'https://drive.google.com/uc?export=download&id='+url3.split('/')[-2]
#url3 = 'https://ansperformance.eu/download/xls/Airport_Traffic.xlsx'
#flights = pd.read_excel(url3, sheet_name="DATA", date_parser="FLT_DATE", index_col ="FLT_DATE")

In [ ]:
#flights["STATE_NAME"].unique()

array(['Belgium', 'Germany', 'Estonia', 'Finland', 'United Kingdom',
       'Netherlands', 'Ireland', 'Denmark', 'Luxembourg', 'Norway',
       'Poland', 'Sweden', 'Latvia', 'Lithuania', 'Spain', 'Albania',
       'Bulgaria', 'Cyprus', 'Croatia', 'France', 'Greece', 'Hungary',
       'Italy', 'Slovenia', 'Czech Republic', 'Malta', 'Austria',
       'Portugal', 'Bosnia and Herzegovina', 'Romania', 'Switzerland',
       'Turkey', 'Moldova', 'The former Yugoslav Republic of Macedonia',
       'Serbia', 'Montenegro', 'Slovakia', 'Armenia', 'Georgia',
       'Ukraine', 'Morocco', 'Israel', 'Republic of North Macedonia',
       'North Macedonia'], dtype=object)

In [ ]:
#for i in flights["STATE_NAME"].unique():
#  flights_country=flights[flights["STATE_NAME"]==i]
#  flights_country=flights_country.resample("1D").sum()
#  flights_country_arr=flights_country['FLT_ARR_1'].truncate(before=initialdate)
#  flights_country_arr.rename("FlightsArr_{}".format(i),inplace=True)
#  exogenas=pd.concat([exogenas,flights_country_arr],axis=1)

In [ ]:
#creating the csv file
#exogenas.to_csv('./data/exogenas.csv')

In [ ]:
#exogenas.loc[:, exogenas.columns.str.contains('mask')]

            mask_Denmark  mask_Finland  ...  mask_Sweden  mask_UK
2020-01-01           0.0           0.0  ...          0.0      0.0
2020-01-02           0.0           0.0  ...          0.0      0.0
2020-01-03           0.0           0.0  ...          0.0      0.0
2020-01-04           0.0           0.0  ...          0.0      0.0
2020-01-05           0.0           0.0  ...          0.0      0.0
...                  ...           ...  ...          ...      ...
2020-08-09           4.0           7.0  ...          6.0     69.0
2020-08-10           4.0           7.0  ...          6.0     71.0
2020-08-11           4.0           7.0  ...          6.0     73.0
2020-08-12           4.0           7.0  ...          6.0     75.0
2020-08-13           0.0           0.0  ...          0.0      0.0

[226 rows x 9 columns]

In [62]:
exogenas2=exogenas.copy()

In [63]:
covid=pd.read_csv("https://covid.ourworldindata.org/data/owid-covid-data.csv",parse_dates=["date"],index_col="date")

In [64]:
for i in covid["location"].unique():
  covid_country=covid[covid["location"]==i]
  covid_country_positive_rate=covid_country['positive_rate']
  covid_country_tests=covid_country['tests_per_case']
  covid_country_positive_rate.rename("Positive_rate_{}".format(i),inplace=True)
  covid_country_tests.rename("tests_per_case_{}".format(i),inplace=True)
  exogenas2=pd.concat([exogenas2,covid_country_positive_rate],axis=1)
  exogenas2=pd.concat([exogenas2,covid_country_tests],axis=1)

In [65]:
exogenas2=exogenas2.loc[:,exogenas2.columns.str.contains('Denmark|Germany|Spain|Finland|Italy|Sweden|France|Norway|UK' \
                                                  '|USA|Canada|Mexico' \
                                                  '|Australia|Indonesia|Malaysia|Philippines|Thailand|Hong Kong|Vietnam|China|India|Japan|Singapore|Taiwan' \
                                                  '|Saudi Arabia|UAE|United Kingdom|United Arab Emirates|United States', regex=True)]
exogenas2=exogenas2.drop("Positive_rate_United States Virgin Islands",axis=1)
exogenas2=exogenas2.drop("tests_per_case_United States Virgin Islands",axis=1)

In [66]:
exogenas2.shape

(231, 364)

In [67]:
exogenas2

            schoolclosing_United Arab Emirates  ...  tests_per_case_Vietnam
2019-12-31                                 NaN  ...                     NaN
2020-01-01                                 0.0  ...                     NaN
2020-01-02                                 0.0  ...                     NaN
2020-01-03                                 0.0  ...                     NaN
2020-01-04                                 0.0  ...                     NaN
...                                        ...  ...                     ...
2020-08-13                                 0.0  ...                     NaN
2020-08-14                                 0.0  ...                     NaN
2020-08-15                                 0.0  ...                     NaN
2020-08-16                                 0.0  ...                     NaN
2020-08-17                                 NaN  ...                     NaN

[231 rows x 364 columns]

In [38]:
exogenas2.shape

(231, 325)

In [41]:
covid.location.unique()

array(['Aruba', 'Afghanistan', 'Angola', 'Anguilla', 'Albania', 'Andorra',
       'United Arab Emirates', 'Argentina', 'Armenia',
       'Antigua and Barbuda', 'Australia', 'Austria', 'Azerbaijan',
       'Burundi', 'Belgium', 'Benin', 'Bonaire Sint Eustatius and Saba',
       'Burkina Faso', 'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei', 'Bhutan', 'Botswana',
       'Central African Republic', 'Canada', 'Switzerland', 'Chile',
       'China', "Cote d'Ivoire", 'Cameroon',
       'Democratic Republic of Congo', 'Congo', 'Colombia', 'Comoros',
       'Cape Verde', 'Costa Rica', 'Cuba', 'Curacao', 'Cayman Islands',
       'Cyprus', 'Czech Republic', 'Germany', 'Djibouti', 'Dominica',
       'Denmark', 'Dominican Republic', 'Algeria', 'Ecuador', 'Egypt',
       'Eritrea', 'Western Sahara', 'Spain', 'Estonia', 'Ethiopia',
       'Finland', 'Fiji', 'Falkland Islands', 'France', 'Faeroe Islands',
       'Gabon', 'United Kingdom', 'Georgia', 'Guernsey', 'Ghana',
       'Gibraltar', 'Guinea', 'Gambia', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'Guam', 'Guyana', 'Hong Kong', 'Honduras', 'Croatia', 'Haiti',
       'Hungary', 'Indonesia', 'Isle of Man', 'India', 'Ireland', 'Iran',
       'Iraq', 'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jersey',
       'Jordan', 'Japan', 'Kazakhstan', 'Kenya', 'Kyrgyzstan', 'Cambodia',
       'Saint Kitts and Nevis', 'South Korea', 'Kuwait', 'Laos',
       'Lebanon', 'Liberia', 'Libya', 'Saint Lucia', 'Liechtenstein',
       'Sri Lanka', 'Lesotho', 'Lithuania', 'Luxembourg', 'Latvia',
       'Morocco', 'Monaco', 'Moldova', 'Madagascar', 'Maldives', 'Mexico',
       'Macedonia', 'Mali', 'Malta', 'Myanmar', 'Montenegro', 'Mongolia',
       'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Montserrat', 'Mauritius', 'Malawi', 'Malaysia', 'Namibia',
       'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands',
       'Norway', 'Nepal', 'New Zealand', 'Oman', 'Pakistan', 'Panama',
       'Peru', 'Philippines', 'Papua New Guinea', 'Poland', 'Puerto Rico',
       'Portugal', 'Paraguay', 'Palestine', 'French Polynesia', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Sudan', 'Senegal',
       'Singapore', 'Sierra Leone', 'El Salvador', 'San Marino',
       'Somalia', 'Serbia', 'South Sudan', 'Sao Tome and Principe',
       'Suriname', 'Slovakia', 'Slovenia', 'Sweden', 'Swaziland',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syria',
       'Turks and Caicos Islands', 'Chad', 'Togo', 'Thailand',
       'Tajikistan', 'Timor', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Taiwan', 'Tanzania', 'Uganda', 'Ukraine', 'Uruguay',
       'United States', 'Uzbekistan', 'Vatican',
       'Saint Vincent and the Grenadines', 'Venezuela',
       'British Virgin Islands', 'United States Virgin Islands',
       'Vietnam', 'Kosovo', 'Yemen', 'South Africa', 'Zambia', 'Zimbabwe',
       'World', 'International'], dtype=object)