<a href="https://colab.research.google.com/github/martaarozarena/KSchool-Master-Final-Project/blob/master/coviddata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Libraries and mounting drive

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import math

In [ ]:
covid=pd.read_csv('data/owid-covid-data 20200713.csv', parse_dates=["date"]) 
covid_eur = covid[covid['continent']=='Europe']
covid_eur['new_cases'] = covid_eur['new_cases'].fillna(0)
covid_esp=covid_eur[covid_eur["location"]=="Spain"].reset_index()
covid_esp_newcases=covid_esp["new_cases"]
covid_esp_newcases=covid_esp_newcases.resample('D').sum()

covid_esp["MA3"]=covid_esp.new_cases.rolling(3).mean()
covid_esp.index = covid_esp.date
covid_esp_ma3=covid_esp["MA3"]

covid_esp_diff3 = covid_esp_newcases - covid_esp_ma3
model1 = SARIMAX(covid_esp_diff3[3:], order=(4, 0, 4))
results_SARIMAX = model1.fit()
prediction= results_SARIMAX.get_forecast(steps=12)
prediction.predicted_mean

In [23]:

covid=pd.read_csv("/home/dsc/Downloads/owid-covid-data 20200713.csv", parse_dates=["date"]) 
covid_eur = covid[covid['continent']=='Europe']
covid_eur['new_cases'] = covid_eur['new_cases'].fillna(0)
covid_esp=covid_eur[covid_eur["location"]=="Spain"].reset_index()
covid_esp.index = covid_esp.date
covid_esp_newcases=covid_esp["new_cases"]
covid_esp_newcases = covid_esp_newcases.resample('D').sum()
covid_esp_newcases

<ipython-input-23-fe17997bf104>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_eur['new_cases'] = covid_eur['new_cases'].fillna(0)

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'RangeIndex'

In [18]:
!pwd

/home/dsc/proyecto

In [21]:
import pandas as pd

covid=pd.read_csv("/home/dsc/Downloads/owid-covid-data 20200713.csv", parse_dates=["date"])

In [20]:
covid

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,AFG,Asia,Afghanistan,2019-12-31,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
1,AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
2,AFG,Asia,Afghanistan,2020-01-02,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
3,AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
4,AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30006,NaN,NaN,International,2020-02-28,705.0,0.0,4.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30007,NaN,NaN,International,2020-02-29,705.0,0.0,6.0,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30008,NaN,NaN,International,2020-03-01,705.0,0.0,6.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30009,NaN,NaN,International,2020-03-02,705.0,0.0,6.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30010,NaN,NaN,International,2020-03-10,696.0,-9.0,7.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN